@use "variables" as v;
@use "mixins" as m;

/* copyright part */

.end {
    display: flex;
    width: 100%;
    background: v.$SECOND-BG-COLOR;
    height: auto;
    justify-content: center;
    align-items: center;
    clear: both;
    padding: 30px 15px;
    text-align: center;
    p {
        font-size: v.$P2-FONT;
        font-weight: 500;
        color: v.$SECOND-TEXT-COLOR;
        line-height: 1.2;
    }
    a {
        color: v.$MAIN-HOVER-COLOR;
        text-decoration: underline;
    }
}