@use "function" as f;
@use "breakpoint" as b;

/* variables */

$BG-COLOR: #121212;
$SECOND-BG-COLOR: #202020;
$TEXT-COLOR: #fff;
$SECOND-TEXT-COLOR: #ccc;
$MAIN-COLOR: #ff4d05;
$MAIN-HOVER-COLOR: #9e3d17;
$BIG-FONT: f.rem(80);
$H2-FONT: f.rem(48);
$P-FONT: f.rem(18);

//tablet mode

/* @include b.breakPoint(tablet) {
    $BIG-FONT: 3.7rem;
    $H2-FONT: 2.4rem;
    $P-FONT: 0.8222rem;
} */