@use "breakpoint" as b;

/* variables */

$BG-COLOR: #121212;
$SECOND-BG-COLOR: #202020;
$TEXT-COLOR: #fff;
$SECOND-TEXT-COLOR: #ccc;
$MAIN-COLOR: #ff4d05;
$MAIN-HOVER-COLOR: #9e3d17;
$BIG-FONT: /* f.rem(80) */ 80px;
$H2-FONT: /* f.rem(48) */ 48px;
$P-FONT: /* f.rem(18) */ 18px-;
