@use "breakpoint" as b;

/* variables */

$BG-COLOR: #121212;
$SECOND-BG-COLOR: #202020;
$TEXT-COLOR: #fff;
$SECOND-TEXT-COLOR: #ccc;
$MAIN-COLOR: #ff4d05;
$MAIN-HOVER-COLOR: #9e3d17;
$BIG-FONT: clamp(2.2rem, 1.653rem + 2.737vw, 4.8rem);
$H2-FONT: 2rem;
$H22-FONT: clamp(1.7rem, 0.795rem + 4.526vw, 6rem);
$P-FONT: clamp(0.98rem, 0.937rem + 0.063vw, 1.01rem);
$P2-FONT: clamp(0.899rem, 0.857rem + 0.212vw, 1.1rem);
$P3-FONT: clamp(1rem, 0.947rem + 0.263vw, 1.25rem);
